/*about boon*/
#ghowwework {
    padding: 1.25rem 0 0;
}

.ghowwework_header {
    margin-bottom: 2rem;
    align-items: center;
    text-align: center;

}

.ghowwework_heading {
    margin-bottom: .8125rem;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-top: 0;
    transition: font-size .4s ease-in-out;
}

.ghowwework_title {
    font-size: 2.5rem;
    line-height: 1.13;
    margin-top: 0;
    margin-bottom: .625rem;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {
    .ghowwework_container {
        overflow: hidden;
        max-height: 23.4375rem;
        max-width: 100vw;
    }
}

.ghowwework_container {
    width: 100%;
}


.gwrapper {
    display: table;
    align-items: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.gir{
    margin: 2rem;
    flex-direction: column;
}
.gsplit-icon-tout {
    max-width: 18.2rem;
    margin: auto;
    text-align: center;
}

.gir img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 95%;
    margin-bottom: 1rem;
}

.gir img .glazyload {
    opacity: 1;
    transition: opacity .3s;
}

.is-orange {
    color: #de470d;
}

.gsplit-icon-tout_body {
    font-size: .75rem;
    max-width: 16rem;
    margin: auto auto;
}

.gsplit-icon-tout_title {
    line-height: 2rem;
    font-size: 1.5rem;
}





/*shopforgood*/
.gsfg {
    width: 100%;
    align-items: center;
    text-align: center;
}

.gsfgheader {
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gsfgheading{
    font-size: 3rem;
    font-weight: 700;
}

#gshoppic {
    width: 100%;
    align-items: center;
}

.gpic-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
}

.gpic {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 18.5%;
    float: left;
    position: relative;
}

@media screen and (max-width: 700px) {
    .gpic{
        max-width:40%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.gpic:hover {
    opacity: 0.5;
}


#goverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay2 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay3 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay4 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay5 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay6 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay7 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay8 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay9 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

#goverlay10 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: scroll;
}

.goverlaypic {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-top: 5px;
}

.goverlaydiv {
    background-color: white;
    max-height: 100%;
    position: relative;
    max-width: 80%;
    display: table;
    padding: 20px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.goverlaypicdiv {
    max-width: 60%;
    display: table;
    float: left;
    margin-right: 20px;
}

.goverlaytextdiv {
    max-width: 40%;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    display: table;
}

.gsmallpic {
    max-width: 30%;
    height: auto;
    margin-top: 60px;
    margin-bottom: 20px;
}

.goverlaytext {
    text-align: center;
    font-size: .75rem;
}

.goverlaybutt {
    background-color: black;
    color: white;
    border: none;
    font-size: .7rem;
}

.goverlaytextdetaildiv {
    position: relative;
    max-width: 400px;
    text-align: center;
    right: 0;
    margin-top: 50px;
}

.garrowb {
    position: relative;
    margin-top: 10px;
    float: left;
    cursor: pointer;
}

.garrown{
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    left: 10px;
    float: left;
}

.gexitarrow{
    position: absolute;
    right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.g-detail-shares{
    margin-top: 30px;
    display: block;
}

.fa{
    margin: 10px;
}

.gb{
    border: none;
    background-color: white;
    display: block;
}

.gsplit-icon-touts__header-subtitle{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 900px) {
    .gsplit-icon-touts__header-subtitle{
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


#carouselExampleControls{
    width: 100%;
    align-items: center;
}
.gsplit{
    max-width: 80%;

}

.carousel-item{
    visibility: hidden;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
}

@media screen and (max-width: 900px) {
    .carousel-item{
        visibility: visible;
    }
    .ghowwework_container{
        visibility: hidden;
    }
}

