body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
}
section {
    display: block;
}
[role=button], button[type=button] {
    cursor: pointer;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.icon-global::before {
    background-image: url(//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/sprite-icon-global-50474367.svg?v=2509735192581679796);
    background-repeat: no-repeat;
    background-size: 31.375em 372.9375em;
    content: '';
    display: block;
    font-size: 1em;
}
.kheader {
    background-color: transparent;
    position: fixed;
    transition: background-color .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    width: 100%;
    z-index: 13;
}
.icon-global--chevron::before {
    background-position: 0 -248.25em;
    width: .875em;
    height: .5625em;
}
.icon-global {
    display: inline-block;
}
@media only screen and (min-width: 1025px){
.knav__button-icon {
    font-size: .9375rem;
    }
}
@media only screen and (min-width: 1025px){
.knav__item:last-child {
    margin-right: 0;
    }
}
.knav__button--url {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
}
.knav__button::after, .knav__button::before {
    display: none;
}
.knav__button-icon {
    padding-left: .3125rem;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
}
@media only screen and (min-width: 1025px){
.kheader__flex-item--flex-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
    }
}
@media only screen and (min-width: 1025px){
.kheader__flex-item {
    flex-basis: 33%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    }
}
@media only screen and (min-width: 1025px){
.knav__button {
    padding: .1875rem 0 .625rem;
    overflow: hidden;
    }
}
@media only screen and (min-width: 1025px){
.kheader__logo {
    font-size: .9875rem;
    }
}
@media only screen and (max-width: 1024px){
.kheader__logo {
    font-size: .66063rem;
    }
}
@media only screen and (max-width: 1024px){
.kheader__logo-icon {
    margin-left: 2rem;
    }
}
@media only screen and (max-width: 1024px){
.kheader-search {
    margin-right: 1.125rem;
    margin-top: .5rem;
    }
}
.klist-reset {
    font-size: 1em;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-search__icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    z-index: -1;
}
.icon-global--logo-market-alt::before {
    background-position: 0 -310.75em;
    width: 8.1875em;
    height: 3.5em;
}
.navigation__button-wave {
    bottom: 0;
    position: absolute;
    left: 0;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    transform: translate3d(100%,0,0);
}
@media only screen and (min-width: 1025px){
.kheader__flex-item--flex-end {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 5px;
    margin-top: .875rem;
    }
}
.kheader__flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.knav__button {
    color: #343434;
    background-color: transparent;
    border: 0;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 1.5rem;
    position: relative;
    -webkit-appearance: none;
}
@media only screen and (min-width: 1025px){
.navigation__list {
    margin-top: .625rem;
    transition: visibility .4s ease-in-out,opacity .4s ease-in-out;
    }
}
@media only screen and (min-width: 1025px){
.knav--header>.navigation__list {
    display: flex;
    margin-left: 0;
    }
}
@media only screen and (min-width: 1025px){
.knav__item {
    margin-right: .625rem;
    }
}
.kheader__logo {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    transition: font-size .4s ease-in-out;
}
.kheader__flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.header-search__button {
    position: relative;
    min-height: 1.25rem;
    min-width: 1.25rem;
    z-index: 0;
}
.btn-icon {
    background-color: transparent;
    border: 0;
    padding: 0;
    color: #de470d;
    text-decoration: none;
    display: flex;
    width: fit-content;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.icon-global--search::before {
    background-position: 0 -348.1875em;
    width: 1.375em;
    height: 1.375em;
}
.header-search__icon--active {
    opacity: 0;
    visibility: hidden;
}
.icon-global--search-dark-orange::before {
    background-position: 0 -352.4375em;
    height: 1.375em;
}
@media only screen and (min-width: 1025px){
.kheader-account {
    margin: 0 1.75rem;
    }
}
@media only screen and (max-width: 1024px){
.desktop-only, .hide-mobile {
    display: none!important;
    }
}
@media only screen and (max-width: 1024px){
.kheader-bag {
    padding-top: .4375rem;
    }
}
.kheader-account {
    position: relative;
}
.header-account__button {
    position: relative;
    min-height: 1.25rem;
    min-width: 1.25rem;
}
.screenreader {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.icon-global--user::before {
    background-position: 0 -364.0625em;
    width: 1.4375em;
    height: 1.375em;
}
.kheader-bag {
    display: flex;
}
.icon-global--bag::before {
    background-position: 0 -241.625em;
    width: 1.1875em;
    height: 1.375em;
}
.header-search__icon {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    z-index: -1;
}
.knav__item {
    display: inline;
}
.kheader__container {
    display: flex;
}
@media only screen and (min-width: 1281px){
.knav__item {
    margin-right: 2.75rem;
    }
}
@media only screen and (min-width: 1025px){
.knav--header {
    margin-left: -1px;
    }
}
@media only screen and (min-width: 1025px){
.kheader__flex-item--flex-start {
    -webkit-box-pack: start;
    justify-content: flex-start;
    }
}
@media only screen and (min-width: 1440px){
.kheader__container {
    padding: 1.125rem .75rem 1rem 0;
    }
}
@media only screen and (min-width: 1281px){
.kheader__container {
    max-width: 80rem;
    }
}
@media only screen and (min-width: 1025px){
.kheader__container {
    padding: 1.25rem 1.875rem;
    }
}
@media only screen and (min-width: 1025px){
.kbanner {
    padding-top: .625rem;
    padding-bottom: .4375rem;
    }
}
.kheader-1 {
    display: flex;
    justify-content: center;
    text-align: center;
}
.knav__button {
    border: none;
    background: none;
    text-decoration: none;
    color: inherit;
}
.acc__btn {
    background: 0 0;
    text-align: left;
    width: 100%;
}
.khome-hero, .home-hero__slide {
    position: relative;
}
.flickity-enabled {
    position: relative;
}
.flickity-viewport {
    overflow: hidden;
    position: relative;
}
.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 768px){
.ir--home-hero {
    padding-bottom: 59.02778%;
    }
}
.ir--home-hero {
    padding-bottom: 213.33333%;
}
.ir {
    height: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}
img {
    border-style: none;
    max-width: 100%;
}
.ir img {
    display: block;
    min-height: 1px;
    width: 100%;
}
@media only screen and (min-width: 768px){
.phone-only {
    display: none!important;
    }
}
.lazyloaded {
    opacity: 1;
    transition: opacity .3s;
}
.lazyload, .lazyloading {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.home-hero, .home-hero__slide {
    position: relative;
}
@media only screen and (min-width: 768px){
.home-hero__content {
    top: 8%;
    }
}
.home-hero__content {
    position: absolute;
    min-width: 100%;
}
.home-hero__link-list {
    -webkit-box-pack: center;
    justify-content: space-evenly;
    padding-left: 0;
    width: 51.3125rem;
    margin: 0 auto;
    list-style: none;
}
@media only screen and (min-width: 768px){
.home-hero__heading {
    padding: 0;
    max-width: 37.5rem;
    margin-bottom: 2.5rem;
    margin-right: auto;
    margin-left: auto;
    }
}
@media only screen and (max-width: 1024px){
.desktop-only, .hide-mobile {
    display: none!important;
    }
}
.home-hero, .home-hero__slide {
    position: relative;
}
.home-hero__heading {
    margin-top: 1.75rem;
    text-align: center;
}
@media only screen and (min-width: 1025px){
h1 {
    font-size: 5rem;
    line-height: 5.625rem;
    letter-spacing: 1px;
    }
}
.home-hero__scroll {
    cursor: pointer;
    text-decoration-color: transparent;
    transition: text-decoration-color .2s ease-in-out,-webkit-text-decoration-color .2s ease-in-out;
}
.home-hero__heading--asterisk {
    color: #de470d;
}
@media only screen and (min-width: 768px){
.home-hero__cta {
    white-space: nowrap;
    max-height: 3.75rem;
    padding-top: 1rem;
    }
}
.home-hero__cta {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 15rem;
    margin: auto;
}
@media only screen and (min-width: 1025px){
.btn, .cause-item--carousel .cause-item__select-btn {
    padding: 1.25rem 6rem 1rem;
    }
}
.btn--primary, .btn--tertiary, .cause-item--carousel .cause-item__select-btn {
    transition: background-color .4s ease-in-out;
}
.btn--primary, .cause-item--carousel .cause-item__select-btn {
    background-color: #fabaa0;
    width: 100%;
}
.btn, .cause-item--carousel .cause-item__select-btn {
    border: 1px solid transparent;
    border-radius: .5rem;
    color: #343434;
    cursor: pointer;
    font-family: Forno,sans-serif;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}
.khome-hero {
    justify-content: center;
}
@media only screen and (min-width: 1281px){
.donated-impact {
    margin-top: -6.5rem;
    }
}
@media only screen and (min-width: 1025px){
.donated-impact {
    height: 13.125rem;
    width: calc(100% - 30px);
    max-width: 69.375rem;
    margin: -3.75rem auto 2.9375rem;
    padding: 1.25rem;
    top: -104px;
    }
}
@media only screen and (min-width: 768px){
.donated-impact {
    margin-top: -4.6875rem;
    }
}
.donated-impact {
    position: relative;
    background: #708d92;
    text-align: center;
}
.donated-impact__wrapper {
    display: flex;
    border: 1px solid #fff;
    height: 100%;
}
@media only screen and (min-width: 1025px){
.donated-impact__body, .donated-impact__footer, .donated-impact__header {
    flex-basis: 33.33333%;
    }
}
.donated-impact__body, .donated-impact__footer, .donated-impact__header {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.donated-impact__header-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .5px;
    margin-top: 0;
    margin-bottom: .375rem;
}
@media only screen and (min-width: 1025px){
h3 {
    line-height: 2.125rem;
    }
}
.icon-global--wave-light-orange::before {
    background-position: 0 -368.125em;
    width: 4.5em;
    height: .4375em;
}
.donated-impact__header-text {
    display: block;
    color: #fff;
    font-size: .75rem;
    line-height: 1.83;
    max-width: 13.125rem;
    margin-top: .625rem;
}
@media only screen and (min-width: 1025px){
.donated-impact__body {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    }
}
.donated-impact__body-text {
    color: #fbdcc5;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.donated-impact__body-value {
    display: block;
    color: #fff;
    font-size: 2.8125rem;
    font-weight: 700;
    letter-spacing: 1px;
}
@media only screen and (min-width: 1025px){
.donated-impact__footer-top {
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 2.1875rem 0 1.9375rem;
    }
}
.donated-impact__footer-text {
    color: #fbdcc5;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@media only screen and (min-width: 1025px){
.donated-impact__footer-bottom {
    padding: 2.1875rem 0 1.9375rem;
    }
}
.donated-impact__footer-link {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
@media only screen and (min-width: 1025px){
.donated-impact__icon-arrow {
    font-size: 1rem;
    margin-bottom: .25rem;
    }
}
.donated-impact__icon-arrow {
    margin-left: .875rem;
}
.icon-global--arrow-white::before {
    background-position: 0 -2em;
    width: 1.1875em;
    height: 1.0625em;
}
.icon-global--wave-dark-orange::before {
    background-position: 0 -366.8125em;
    width: 4.5em;
    height: .4375em;
}
.donated-impact__icon-below {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(
90deg);
}
.template-index .kheader {
    border-bottom: 0;
}
.kheader {
    background-color: transparent;
    position: fixed;
    transition: background-color .3s ease-in-out,transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    width: 100%;
    z-index: 13;
}
.kheader-1 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 8px;
    padding-top: 9px;
    text-align: center;
}
.kbanner__copy {
    color: #fff;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: .5px;
}
.kheader__container {
    transition: padding .3s ease-in-out;
}
.container {
    margin: 0 auto;
}
.btn-icon {
    padding: 0;
    text-decoration: none;
    display: flex;
    width: fit-content;
}
.knav__button-hamburger-icon {
    font-size: .82812rem;
}
@media only screen and (max-width: 767px){
.desktop-and-tablet, .hide-phone, .tablet-only {
    display: none!important;
    }
}
.sticky {
    background-color: #fff;
    position: fixed;
    top: -35px;
    min-width: 100%;
    transition: border-bottom-color .3s ease-in-out;
    margin: 0;
}
@media only screen and (min-width: 1025px){
.sticky {
    border-bottom: 1px solid rgba(52,52,52,.15);
    }
}
@media only screen and (min-width: 1025px){
.sticky .kheader__container {
    padding-top: 3px;
    padding-bottom: 2px;
    }
}
.navigation__button-hamburger-icon {
    font-size: .82812rem;
}
@media only screen and (min-width: 1025px){
.sticky .kheader__logo {
    font-size: .64187rem;
    }
}
.kheader.sticky {
    border-bottom: 1px solid #dadada;
    -webkit-transition: border-bottom-color .3s ease-in-out;
    transition: border-bottom-color .3s ease-in-out;
}
.kmain {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}
.kmain {
    overflow: hidden;
    transition: .4s ease-in-out;
}
