.ke-bg-carousel {
    border-bottom: 1px solid rgba(116,116,116,.2);
    background: #f7f5f2;
}
.ke-header-carousel {
    border-bottom: 1px solid rgba(116,116,116,.2);
}
.ke-font-size-carousel {
    font-size: 2.5rem;
}
.ke-struct-carousel {
    padding-left: 9%;
    padding-right: 9%;
    margin: 0 auto;
    max-width: 1500px;
    max-height: 30rem;
    position: relative;
}
.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ke-product-grid {
  padding: 0 0 3rem 1.5rem;
  position: absolute;
  left: 333.32%;
  display: inline-block;
  font-size: 1rem;
  max-width: 25rem;
  transition: padding .4s ease-in-out;
  vertical-align: top;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.15;
  width: 33.33333%;

}
.ke-set-button {
  margin-top: 1rem;
  min-height: 2.5rem;
  padding: 0 2rem;
  width: 100%;
}
.ke-selected {
  background-color: #fbdcc5; 
}
.ke-set-button-format {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.15;
}
.ke-cata-btn {
  padding: 0.5rem 1.5rem 0.5rem 3.5rem;
  border-color: transparent;
  border-radius: 1.5625rem;
  font-weight: 500;
  letter-spacing: normal;
  margin: 0 0.3rem;
  overflow: visible;
  -webkit-appearance: button;
  text-align: center;
  text-decoration: none;
  position: relative;
  transition: background-color 1s;
}
.ke-carousel-btn {
  position: absolute;
  left: .625rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.75rem;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: normal;
}
.ke-cata-btn:hover {
  background-color: #fbdcc5; 
}
.ke-carousel-btn.icon {
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  text-align: center;
}
.ke-item-img {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  letter-spacing: 1.5px;
  padding-bottom: 120.44118%;
  cursor: pointer;
  display: block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
}
.ke-item-vender {
  font-size: .75rem;
  font-weight: 500;
  color: #747474;
  box-sizing: border-box;
}
.ke-item-title {
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .5px;
  margin-top: 0;
  text-align: left;
  text-transform: none;
  font-size: .875rem;
}
.ke-item-name {
  text-decoration: none;
  text-transform: none; 
  background-color: transparent;
  color: #343434;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .5px;
}
.ke-product-footer {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  margin-top: .625rem;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: left;
}

.ke-to-shop {
  padding-bottom: 120%;
  display: block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ke-product-header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(52,52,52,.15);
  font-size: 1rem;
}

.ke-product-header-title {
  font-size: 0.7rem;
  font-weight: 500;
  color: #747474;
}

.ke-name-to-shop {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 1;
  font-size: .9rem;
  margin-bottom: .1rem;
  color: #343434;
  margin-top: 1px;
}

.ke-product-header-name {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: .5px;
  font-size: .875rem;
  text-transform: none;
  color: black;
}

.ke-product-carousel-footer {
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
.ke-product-footer-btn {
  letter-spacing: 1.5px;
  display: block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  background-color: transparent;
  border: 0;
  padding: 0;
  color: #343434;
  font-family: inherit;
  text-transform: uppercase;
}

.ke-product-footer-discount {
  height: 1.125rem;
  background-color: #fbdcc5;
  width: fit-content;
  color: #343434;
  text-transform: uppercase;
  border-radius: .1875rem;
  font-size: 1rem;
}

.ke-product-footer-discount-text {
  padding: 0 0.5rem;
  font-size: .625rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2px;
}

.ke-boon-item {
  display: flex;
  background: #fff;
  border-radius: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.ke-boon-item-img {
  flex: 0 1 50%;
  -webkit-box-flex: 0;
}

.ke-boon-item-side-img {
  padding-bottom: 70%;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.ke-boon-item-side-text {
  flex-direction: column;
  padding-top: 4rem;
  padding-left: 5rem;
  -webkit-box-align: start;
  align-items: flex-start;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;

}

.ke-boon-item-side-text-header {
  font-size: 1.875rem;
  max-width: 22.125rem;
  color: #343434;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.ke-boon-item-side-text-p {
  font-style: normal;
  font-weight: 400;
  color: #747474;
  font-size: 0.8rem;
  line-height: 1rem;
  padding-right: 7rem;
  margin-bottom: 6rem;
}

.ke-grid-link-boon {
  display: flex;
  max-width: 22.125rem;
  width: 100%;
}

.ke-grid-link-anchor-boon {
  font-size: .75rem;
  letter-spacing: 0.1rem;
  background-color: transparent;
  font-weight: 720;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #de470d;
}

.ke-section-boon {
  background: #f7f5f2;
  padding: 2.8125rem 0 2.5rem;
}

.ke-blog-boon {
  width: 20.75rem;
  margin: 0 auto 2.8125rem;
}
/* Flickity  */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: 0; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.flickity-page-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: .625rem 0 0;
  padding-top: 20px;
  width: 100%; }

.flickity-page-dots .dot {
  background-color: rgba(52,52,52,.2);
  border-radius: 100%;
  display: block;
  height: 0.58rem;
  margin: 0 .4rem;
  padding: 0;
  -webkit-transition: background-color .4s ease-in-out;
  transition: background-color .4s ease-in-out;
  width: 0.58rem; }

.flickity-page-dots .dot.is-selected {
  background-color: #747474; }

.flickity-prev-next-button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40%; }

.flickity-prev-next-button::before {
  background-image: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/sprite-icon-global-c2968b44.svg?v=16982338080051851343");
  background-repeat: no-repeat;
  background-size: 31.375em 375.125em;
  content: '';
  display: block;
  background-position: 0 -248.25em;
  width: .875em;
  height: .5625em;
  font-size: 2.125rem; }

.flickity-prev-next-button.previous {
  left: -4rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

.flickity-prev-next-button.next {
  right: -4rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.flickity-button-icon,
.hide,
.no-display {
  display: none; }

.ke-img {
  display: block;
  min-height: 1px;
  width: 100%;
  border-style: none;
  max-width: 100%;
  cursor: pointer;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  text-transform: uppercase;
}
@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 100;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Thin.woff2?v=16499828073377610024") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Thin.woff?v=2209208443287599195") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 100;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ThinSlanted.woff2?v=7075443949934634978") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ThinSlanted.woff?v=7317935856052173192") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 200;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ExtraLight.woff2?v=16960942433799133083") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ExtraLight.woff?v=18309072512438369148") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 200;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ExtraLightSlanted.woff2?v=1005894890544000143") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-ExtraLightSlanted.woff?v=6116040898612005269") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Light.woff2?v=1577936745306837392") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Light.woff?v=1116439714663661656") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 300;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-LightSlanted.woff2?v=18406525696351906294") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-LightSlanted.woff?v=9360262386258712342") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Regular.woff2?v=2019809443842997901") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Regular.woff?v=3524191919823130866") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 400;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Slanted.woff2?v=3318595871210862592") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Slanted.woff?v=14409500787269507928") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 500;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Medium.woff2?v=10884732943457969481") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Medium.woff?v=15220023931492888853") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 500;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-MediumSlanted.woff2?v=17761796059566087215") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-MediumSlanted.woff?v=7789614807669377468") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Bold.woff2?v=5116176443877844688") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-Bold.woff?v=16937323386679555721") format("woff"); }

@font-face {
  font-family: Forno;
  font-style: italic;
  font-weight: 700;
  src: url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-BoldSlanted.woff2?v=7613596390642307781") format("woff2"), url("//cdn.shopify.com/s/files/1/0515/6762/4376/t/2/assets/Forno-BoldSlanted.woff?v=3718421530285631029") format("woff"); }

.ke-in-bag {
    border-bottom: .0625rem solid rgba(0,0,0,.12);
}
.ke-in-bag-grid {
  display: flex;
  padding-bottom: .625rem;
  padding-top: 1.25rem;
}
.ke-in-bag-img-grid {
  width: 5.5rem;
}
.ke-img-crop{
  padding-bottom: 120.53333%;
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.ke-in-bag-img-img {
  display: block;
  min-height: 1px;
  width: 100%;
  border-style: none;
  max-width: 100%;
}
.ke-in-bag-content {
  padding-right: 1.875rem;
  -webkit-box-flex: 1;
  flex: 1;
  padding-left: .9375rem;
}

.ke-in-bag-content-header-grid{
  margin-bottom: .625rem;
}

.ke-in-bag-content-header-topic{
  font-size: .75rem;
  line-height: 1.42;
  margin-bottom: .125rem;
  margin: 0
  font-style: normal;
  font-weight: 400;
}

.ke-in-bag-content-header-topic-name {
  font-size: .875rem;
  letter-spacing: .03125rem;
  line-height: 1.29;
  margin: 0;
  padding: 0 !important;
}

.ke-in-bag-order {
  height: 4.9375rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.ke-in-bag-order-qty {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.ke-in-bag-order-button-set {
  -webkit-box-align: center;
  align-items: center;
  background: #fff;
  border: .0625rem solid #dadada;
  border-radius: .3125rem;
  display: flex;
  height: 2.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: .625rem;
  width: 5.625rem;
  position: relative;
}

.ke-in-bag-order-button-qty-add {
  right: 0;
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  display: flex;
  height: 2.5rem;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  text-indent: calc(100% + 56px);
  top: 0;
  width: 2.5rem;
  -webkit-appearance: button;
}

.ke-in-bag-order-button-qty-minus {
  left: 0;
  -webkit-box-align: center;
  align-items: center;
  background: 0 0;
  border: 0;
  display: flex;
  height: 2.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  text-indent: calc(100% + 56px);
  top: 0;
  width: 2.5rem;
  -webkit-appearance: button;
}
.ke-in-bag-order-remove {
  font-size: .75rem !important;
  font-weight: 500 !important;
  letter-spacing: .0625rem !important;
  line-height: 2 !important;
  text-transform: initial !important;
  background-color: transparent !important;
  border: 0 !important;
  color: #343434 !important;
  padding: 0 !important;
  text-align: center !important;
  text-decoration: underline !important;
}

.ke-in-bag-order-footer {
  -webkit-box-align: end;
  align-items: flex-end;
  height: 100%;
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
}

.ke-in-bag-order-footer-discount {
  -webkit-box-align: center;
  align-items: center;
  background: #fbdcc5;
  border-radius: .1875rem;
  color: #343434;
  display: flex;
  font-size: .625rem;
  font-weight: 700;
  height: 1.125rem;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: .125rem;
  line-height: 1;
  margin-right: .625rem;
  padding: 0 .3125rem;
  text-transform: uppercase;
}

.ke-in-bag-order-footer-price {
  line-height: 1.33;
  font-size: .875rem;
  font-weight: 700;
  color: #343434;
  letter-spacing: .03125rem;
}
